<form (ngSubmit)="onSubmit()" [formGroup]="chronoItemForm">
  <mat-form-field>
    <mat-label>Description</mat-label>
    <textarea matInput formControlName="description"></textarea>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Type de temps</mat-label>
    <mat-select formControlName="timeType">
      @for (timeType of timeTypes; track $index) {

      <mat-option [value]="timeType">
        {{ timeType }}
      </mat-option>
      }
    </mat-select>
  </mat-form-field>
  <!-- <mat-form-field>
    <mat-label>Ajouter une photo</mat-label>
    <input
      type="file"
      accept="image/*"
      capture="environment"
      formControlName="description"
      (change)="onFileSelected($event)"
    />
  </mat-form-field> -->
  <ngx-file-drag-drop
    [formControl]="fileControl"
    activeBorderColor="#3F51B5"
    [multiple]="true"
    (valueChanged)="onValueChange($event)"
  >
  </ngx-file-drag-drop>
  @if(selectedFile){

  <img [src]="imagePreview" alt="Prévisualisation" width="300" />
  }
  <button mat-button type="submit" [disabled]="!chronoItemForm.valid">
    étape suivante
  </button>
</form>
