:host {
  display: flex;
  justify-content: center;
}
.chrono-commands {
  // display: flex;
  // justify-content: space-;
  padding: var(--layout-component-padding);
  // background: #2e2e2e;
  // border-radius: 12px;
}
// button {
//   display: flex;
//   align-items: center;
//   font-size: 1.1em;
//   padding: 12px 24px;
//   transition: all 0.3s ease;
//   border-radius: 8px;
//   box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
// }
// button mat-icon {
//   // margin-right: 8px;
// }
// button:hover {
//   background-color: #1a73e8;
//   box-shadow: 0 12px 20px rgba(0, 0, 0, 0.2);
//   transform: translateY(-2px);
// }
// button:active {
//   transform: translateY(0);
// }
