:host {
  z-index: 10000;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}

// app-menu {
//   transition: width 350ms ease;
//   overflow: hidden;
//   white-space: nowrap;
// }

// app-menu.extended-side-bar {
//   width: 15rem;
// }

// app-menu .menu-item-text {
//   opacity: 0;
//   transition: opacity 350ms ease;
// }

// app-menu.extended-side-bar .menu-item-text {
//   opacity: 1;
// }
